@import 'styles/index';

.app {
  .header {
    padding: $spacer;
    background: $primary;
    color: white;
    display: flex;
    justify-content: center;
  }

  .content {
    display: grid;
    grid-template-columns: 75% 25%;

    .sidebar {
      padding: 0;
    }
  }
}
