@import 'styles/index';

.post {
  padding: 16px;
  border: 1px solid $primary;
  display: grid;
  grid-template-columns: 75% 20%;
  gap: 5%;

  .content {
    display: flex;
    flex-direction: column;
  }
}
